@use 'variables' as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font: v.$paragraph;
  background-color: v.$tercer-color;

  @media (min-width: 768px) {
    font: v.$paragraph-Tablet;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font: v.$titleOne;
}

h2 {
  font: v.$titleTwo;
  text-align: center;
  color: v.$primer-color;

  &::after {
    content: '';
    width: 10rem;
    height: 10rem;
    margin-inline: auto;
    margin-bottom: 3rem;
    display: block;
    background-image: url("../img/cafe.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  span {
    display: block;
    font-size: 2rem;
    color: v.$segundo-color;
  }
}

.titulo-blanco {
  @extend h2;
  color: v.$white-color;

  &::after {
    display: none;
  }

  span {
    color: v.$white-color;
  }
}

h3 {
  font: v.$titleThree;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}