@use 'variables' as v;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font: v.$paragraph;

  @media screen {
    font: v.$paragraph-Tablet;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: v.$titleOne;
}

h2 {
  font: v.$titleTwo;
}

h3 {
  font: v.$titleThree;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}