$primary-Font: "Roboto", sans-serif;

$paragraph: normal 1.4rem/2 var($primary-Font);
$titleOne: 900 5rem/1.5 var($primary-Font);
$titleTwo: 900 4rem/1.5 var($primary-Font);
$titleThree: 900 3rem/1.5 var($primary-Font);

/* Colors */
$primer-color: #E8505B;
$egundo-color: #455A64;
$tercer-color: #1f1e1e;
$white-color: #ffffff;
$black-color: #000000;
$gris-color: #eceeef;


/* UTILIDADES */